phv/src/main/resources/schema/ack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ichicsrack">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ichicsrmessageheader"/>
				<xs:element ref="acknowledgment"/>
			</xs:sequence>
			<xs:attribute name="lang" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ichicsrmessageheader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="messagetype"/>
				<xs:element ref="messageformatversion"/>
				<xs:element ref="messageformatrelease"/>
				<xs:element ref="messagenumb"/>
				<xs:element ref="messagesenderidentifier"/>
				<xs:element ref="messagereceiveridentifier"/>
				<xs:element ref="messagedateformat"/>
				<xs:element ref="messagedate"/>
			</xs:sequence>
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagetype">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageformatversion">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageformatrelease">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagenumb">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagesenderidentifier">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagereceiveridentifier">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagedateformat">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagedate">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="acknowledgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="messageacknowledgment"/>
				<xs:element ref="reportacknowledgment" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageacknowledgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="icsrmessagenumb"/>
				<xs:element ref="localmessagenumb" minOccurs="0"/>
				<xs:element ref="icsrmessagesenderidentifier"/>
				<xs:element ref="icsrmessagereceiveridentifier"/>
				<xs:element ref="icsrmessagedateformat"/>
				<xs:element ref="icsrmessagedate"/>
				<xs:element ref="transmissionacknowledgmentcode"/>
				<xs:element ref="parsingerrormessage" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="icsrmessagenumb">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="localmessagenumb">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="icsrmessagesenderidentifier">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="icsrmessagereceiveridentifier">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="icsrmessagedateformat">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="icsrmessagedate">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="transmissionacknowledgmentcode">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parsingerrormessage">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportacknowledgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="safetyreportversion" minOccurs="0"/>
				<xs:element ref="safetyreportid"/>
				<xs:element ref="safetyreportversion" minOccurs="0"/>
				<xs:element ref="localreportnumb" minOccurs="0"/>
				<xs:element ref="authoritynumb" minOccurs="0"/>
				<xs:element ref="companynumb" minOccurs="0"/>
				<xs:element ref="receiptdateformat" minOccurs="0"/>
				<xs:element ref="receiptdate" minOccurs="0"/>
				<xs:element ref="reportacknowledgmentcode"/>
				<xs:element ref="errormessagecomment" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="safetyreportversion">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="safetyreportid">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="localreportnumb">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authoritynumb">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="companynumb">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="receiptdateformat">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="receiptdate">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportacknowledgmentcode">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="errormessagecomment">
		<xs:complexType mixed="true">
			<xs:attribute name="lang"/>
		</xs:complexType>
	</xs:element>
</xs:schema>