phv/src/main/resources/schema/hsafetymessagetype21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Luca Falsiroli (BASSILICHI) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:hsmt="http://eudravigilance.ema.europa.eu/schema/1.0/hsafetymessagetype21" xmlns:hctl="http://eudravigilance.ema.europa.eu/schema/1.0/hcomplextypelibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eudravigilance.ema.europa.eu/schema/1.0/hsafetymessagetype21">
	<xs:import namespace="http://eudravigilance.ema.europa.eu/schema/1.0/hcomplextypelibrary" schemaLocation="hcomplextypelibrary.xsd"/>
	<!-- Designed by Luca Falsiroli  - BASSILICHI  v0.92-->
	<xs:complexType name="actiondrugType">
		<xs:simpleContent>
			<xs:extension base="hctl:actiondrugTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="activesubstanceType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="activesubstancenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="additionaldocumentType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="authoritynumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="casenullificationType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="companynumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="documentlistType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="drugadditionalType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugadministrationrouteType">
		<xs:simpleContent>
			<xs:extension base="hctl:administrationrouteTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugassessmentmethodType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugassessmentsourceType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugauthorizationcountryType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugauthorizationholderType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugauthorizationnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugbatchnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugcharacterizationType">
		<xs:simpleContent>
			<xs:extension base="hctl:drugcharacterizationTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugcumulativedosagenumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugcumulativedosageunitType">
		<xs:simpleContent>
			<xs:extension base="hctl:drugcumulativedosageunitTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugdosageformType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugdosagetextType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugenddateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugenddateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugindicationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugindicationmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugintervaldosagedefinitionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
				<xs:enumeration value="807"/>
				<xs:enumeration value="810"/>
				<xs:enumeration value="811"/>
				<xs:enumeration value="812"/>
				<xs:enumeration value="813"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugintervaldosageunitnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="druglastperiodType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="druglastperiodunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
				<xs:enumeration value="807"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugparadministrationType">
		<xs:simpleContent>
			<xs:extension base="hctl:administrationrouteTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugreactionassesType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugreactionassesmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugreactionrelatednessType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="drugrecuractionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugrecuractionmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugrecurreadministrationType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnounknownTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugrecurrenceType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="drugresultType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugseparatedosagenumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugstartdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugstartdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugstartperiodType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugstartperiodunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
				<xs:enumeration value="807"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugstructuredosagenumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugstructuredosageunitType">
		<xs:simpleContent>
			<xs:extension base="hctl:drugstructuredosageunitTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugtreatmentdurationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="drugtreatmentdurationunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="duplicateType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="duplicatenumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="duplicatesourceType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="fulfillexpeditecriteriaType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="gestationperiodType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="gestationperiodunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="810"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="hightestrangeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ichicsrType">
		<xs:attribute name="lang" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ichicsrmessageheaderType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="lastmenstrualdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="linkedreportType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="linkreportnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="literaturereferenceType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="lowtestrangeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="medicalhistoryepisodeType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="medicallyconfirmType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="medicinalproductType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messagedateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messagedateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="204"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messageformatreleaseType">
		<xs:simpleContent>
			<xs:extension base="hctl:messageformatreleaseTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messageformatversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:messageformatversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messagenumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messagereceiveridentifierType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messagesenderidentifierType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="messagetypeType">
		<xs:simpleContent>
			<xs:extension base="hctl:messagetypeTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="moreinformationType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="narrativeincludeclinicalType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="20000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="nullificationreasonType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="observestudytypeType">
		<xs:simpleContent>
			<xs:extension base="hctl:observestudyTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="obtaindrugcountryType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="occurcountryType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ageType">
		<xs:simpleContent>
			<xs:extension base="hctl:ageTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentageunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentbirthdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentbirthdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrgindicationmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrgreactionmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugenddateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugenddateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugindicationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugnameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugreactionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugstartdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentdrugstartdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentheightType">
		<xs:simpleContent>
			<xs:extension base="hctl:heightTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentidentificationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentlastmenstrualdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentlastmenstrualdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmdepisodemeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalcommentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalcontinueType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnounknownTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalenddateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalenddateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalepisodenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalhistoryepisodeType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="parentmedicalrelevanttextType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalstartdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentmedicalstartdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentpastdrugtherapyType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="parentsexType">
		<xs:simpleContent>
			<xs:extension base="hctl:sexTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="parentweightType">
		<xs:simpleContent>
			<xs:extension base="hctl:weightTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="patientagegroupType">
		<xs:simpleContent>
			<xs:extension base="hctl:patientagegroupTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientautopsyType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="patientautopsyyesnoType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnounknownTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientbirthdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientbirthdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdeathType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="patientdeathcauseType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="patientdeathdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdeathdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdeathreportType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdeathreportmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdetermautopsmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdetermineautopsyType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrgreactionmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugenddateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugenddateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugindicationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientindicationmeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugnameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugreactionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugstartdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientdrugstartdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientepisodenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientepisodenamemeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientgpmedicalrecordnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientheightType">
		<xs:simpleContent>
			<xs:extension base="hctl:heightTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patienthospitalrecordnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientinitialType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientinvestigationnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientlastmenstrualdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalcommentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalcontinueType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnounknownTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalenddateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalenddateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalhistorytextType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalstartdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientmedicalstartdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientonsetageunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="800"/>
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientpastdrugtherapyType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="patientsexType">
		<xs:simpleContent>
			<xs:extension base="hctl:sexTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientspecialistrecordnumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="patientweightType">
		<xs:simpleContent>
			<xs:extension base="hctl:weightTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="primarysourceType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="primarysourcecountryType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="primarysourcereactionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="qualificationType">
		<xs:simpleContent>
			<xs:extension base="hctl:qualificationTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="reactiondurationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactiondurationunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
				<xs:enumeration value="807"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionenddateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionenddateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="203"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionfirsttimeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionfirsttimeunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
				<xs:enumeration value="807"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactiongestationperiodType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactiongestationperiodunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="810"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionlasttimeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:decimalTypeC">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionlasttimeunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:timeunitTypeC">
				<xs:enumeration value="801"/>
				<xs:enumeration value="802"/>
				<xs:enumeration value="803"/>
				<xs:enumeration value="804"/>
				<xs:enumeration value="805"/>
				<xs:enumeration value="806"/>
				<xs:enumeration value="807"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionmeddralltType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionmeddraptType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionmeddraversionlltType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionmeddraversionptType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionoutcomeType">
		<xs:simpleContent>
			<xs:extension base="hctl:outcomeTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionstartdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reactionstartdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="203"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiptdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiptdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivedateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivedateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="receivercityType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivercountrycodeType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverdepartmentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiveremailaddressType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverfamilynameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverfaxType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverfaxcountrycodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverfaxextensionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivergivenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivermiddlenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverorganizationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverpostcodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverstateType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receiverstreetaddressType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivertelType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivertelcountrycodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivertelextensionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivertitleType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="receivertypeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:senderrecivertypeTypeC">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reportduplicateType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="reportercityType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reportercommentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reportercountryType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporterdepartmentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporterfamilynameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reportergivenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reportermiddlenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporterorganizationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporterpostcodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporterstateType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporterstreetType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reportertitleType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="reporttypeType">
		<xs:simpleContent>
			<xs:extension base="hctl:reportTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="resultstestsproceduresType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="safetyreportType">
		<xs:attribute name="lang" type="xs:string"/>
		<xs:attribute name="idsr" type="xs:integer" use="optional"/>
	</xs:complexType>
	<xs:complexType name="safetyreportidType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="safetyreportversionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="sendercityType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendercommentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendercountrycodeType">
		<xs:simpleContent>
			<xs:extension base="hctl:countryTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderdepartmentType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderdiagnosisType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderdiagnosismeddraversionType">
		<xs:simpleContent>
			<xs:extension base="hctl:meddraversionTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderemailaddressType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderfamilynameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderfaxType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderfaxcountrycodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderfaxextensionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendergivenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendermiddlenameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderorganizationType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderpostcodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderstateType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="senderstreetaddressType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendertelType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendertelcountrycodeType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendertelextensionType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendertitleType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sendertypeType">
		<xs:simpleContent>
			<xs:extension base="hctl:senderrecivertypeTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousnesscongenitalanomaliType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousnessdeathType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousnessdisablingType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousnesshospitalizationType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousnesslifethreateningType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriousnessotherType">
		<xs:simpleContent>
			<xs:extension base="hctl:yesnoTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sponsorstudynumbType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="studynameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="summaryType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="termhighlightedType">
		<xs:simpleContent>
			<xs:extension base="hctl:termhighlightedTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="testType">
		<xs:attribute name="lang" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="testdateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="testdateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
				<xs:enumeration value="602"/>
				<xs:enumeration value="610"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="testnameType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="testresultType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="testunitType">
		<xs:simpleContent>
			<xs:restriction base="hctl:stringaTypeC">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="transmissiondateType">
		<xs:simpleContent>
			<xs:extension base="hctl:stringaTypeC"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="transmissiondateformatType">
		<xs:simpleContent>
			<xs:restriction base="hctl:dataformatTypeC">
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
