phv/src/main/resources/schema/hsimpletypelibrary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by ema user (European Medicines Agency) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Luca Falsiroli (BASSILICHI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hstl="http://eudravigilance.ema.europa.eu/schema/1.0/hsimpletypelibrary" targetNamespace="http://eudravigilance.ema.europa.eu/schema/1.0/hsimpletypelibrary" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Designed by Luca Falsiroli  - BASSILICHI ver 0.92-->
	<xs:simpleType name="actiondrugTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
		<!--	Field values:
		1=Drug withdrawn
		2=Dose reduced
		3=Dose increased
		4=Dose not changed
		5=Unknown
		6=Not applicable
		-->
	</xs:simpleType>
	<xs:simpleType name="administrationrouteTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="67"/>
		</xs:restriction>
		<!--Field values:
		001=Auricular (otic)
		002=Buccal
		003=Cutaneous
		004=Dental
		005=Endocervical
		006=Endosinusial
		007=Endotracheal
		008=Epidural
		009=Extra-amniotic
		010=Hemodialysis
		011=Intra corpus cavernosum
		012=Intra-amniotic
		013=Intra-arterial
		014=Intra-articular
		015=Intra-uterine
		016=Intracardiac
		017=Intracavernous
		018=Intracerebral
		019=Intracervical
		020=Intracisternal
		021=Intracorneal
		022=Intracoronary
		023=Intradermal
		024=Intradiscal (intraspinal)
		025=Intrahepatic
		026=Intralesional
		027=Intralymphatic
		028=Intramedullar (bone marrow)
		029=Intrameningeal
		030=Intramuscular
		031=Intraocular
		032=Intrapericardial
		033=Intraperitoneal
		034=Intrapleural
		035=Intrasynovial
		036=Intratumor
		037=Intrathecal
		038=Intrathoracic
		039=Intratracheal
		040=Intravenous bolus
		041=Intravenous drip
		042=Intravenous (not otherwise specified)
		043=Intravesical
		044=Iontophoresis
		045=Nasal
		046=Occlusive dressing technique
		047=Ophthalmic
		048=Oral
		049=Oropharingeal
		050=Other
		051=Parenteral
		052=Periarticular
		053=Perineural
		054=Rectal
		055=Respiratory (inhalation)
		056=Retrobulbar
		057=Sunconjunctival
		058=Subcutaneous
		059=Subdermal
		060=Sublingual
		061=Topical
		062=Transdermal
		063=Transmammary
		064=Transplacental
		065=Unknown
		066=Urethral
		067=Vaginal
		-->
	</xs:simpleType>
	<xs:simpleType name="countryTypeS">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataformatTypeS">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="102"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="602"/>
			<xs:enumeration value="610"/>
		</xs:restriction>
		<!--102:CCYYMMDD-->
		<!--203=CCYYMMDDHHMM-->
		<!--204=CCYYMMDDHHMMSS-->
		<!--610=CCYYMM-->
		<!--602=CCYY-->
	</xs:simpleType>
	<xs:simpleType name="drugcharacterizationTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
		<!-- Field values:
			1=Suspect
			2=Concomitant
			3=Interacting
		-->
	</xs:simpleType>
	<xs:simpleType name="drugcumulativedosageunitTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="32"/>
		</xs:restriction>
		<!--Field values:
			001=kg kilogram(s)
			002=G gram(s)
			003=Mg milligram(s)
			004=µg microgram(s)
			005=ng nanogram(s)
			006=pg picogram(s)
			007=mg/kg milligram(s)/kilogram
			008=µg/kg microgram(s)/kilogram
			009=mg/m 2 milligram(s)/sq. meter
			010=µg/ m 2 microgram(s)/ sq. Meter
			011=l litre(s)
			012=ml millilitre(s)
			013=µl microlitre(s)
			014=Bq becquerel(s)
			015=GBq gigabecquerel(s)
			016=MBq megabecquerel(s)
			017=Kbq kilobecquerel(s)
			018=Ci curie(s)
			019=MCi millicurie(s)
			020=µCi microcurie(s)
			021=NCi nanocurie(s)
			022=Mol mole(s)
			023=Mmol millimole(s)
			024=µmol micromole(s)
			025=Iu international unit(s)
			026=Kiu iu(1000s)
			027=Miu iu(1,000,000s)
			028=iu/kg iu/kilogram
			029=Meq milliequivalent(s)
			030=% percent
			031=Gtt drop(s)
			032=DF dosage form
			-->
	</xs:simpleType>
	<xs:simpleType name="drugintervaldosagedefinitionTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="801"/>
			<xs:maxInclusive value="806"/>
		</xs:restriction>
		<!--	801=Year
			802=Month
			803=Week
			804=Day
			805=Hour
			806=Minute
			-->
	</xs:simpleType>
	<xs:simpleType name="drugstructuredosageunitTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="32"/>
		</xs:restriction>
		<!--Field values:
			001=kg kilogram(s)
			002=G gram(s)
			003=Mg milligram(s)
			004=µg microgram(s)
			005=ng nanogram(s)
			006=pg picogram(s)
			007=mg/kg milligram(s)/kilogram
			008=µg/kg microgram(s)/kilogram
			009=mg/m 2 milligram(s)/sq. meter
			010=µg/ m 2 microgram(s)/ sq. Meter
			011=l litre(s)
			012=ml millilitre(s)
			013=µl microlitre(s)
			014=Bq becquerel(s)
			015=GBq gigabecquerel(s)
			016=MBq megabecquerel(s)
			017=Kbq kilobecquerel(s)
			018=Ci curie(s)
			019=MCi millicurie(s)
			020=µCi microcurie(s)
			021=NCi nanocurie(s)
			022=Mol mole(s)
			023=Mmol millimole(s)
			024=µmol micromole(s)
			025=Iu international unit(s)
			026=Kiu iu(1000s)
			027=Miu iu(1,000,000s)
			028=iu/kg iu/kilogram
			029=Meq milliequivalent(s)
			030=% percent
			031=Gtt drop(s)
			032=DF dosage form
			-->
	</xs:simpleType>
	<xs:simpleType name="meddraversionTypeS">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="3"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageformatreleaseTypeS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="0.0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="1.0"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="2.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageformatversionTypeS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2.1"/>
			<xs:enumeration value="2.0"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messagetypeTypeS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ICHICSR"/>
			<xs:enumeration value="ICSR"/>
			<xs:enumeration value="ichicsr"/>
			<xs:enumeration value="icsr"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="observestudyTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
		<!--	Field values:
		1=Clinical trials
		2=Individual patient use  (Not Allowed in Susar)
		3=Other studies  (Not Allowed in Susar)
		-->
	</xs:simpleType>
	<xs:simpleType name="outcomeTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
		<!--Field values:
		1=recovered/resolved
		2=recovering/resolving
		3=not recovered/not resolved
		4=recovered/resolved with sequel
		5=fatal
		6=unknown
		-->
	</xs:simpleType>
	<xs:simpleType name="ageTypeS">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
		<!--Field values:
			Patient/Parent age	range between 1-150
		-->
	</xs:simpleType>
	<xs:simpleType name="weightTypeS">
		<xs:restriction base="xs:decimal"/>
		<!--Field values:
			Patient/Parent weight range between 1-650
		-->
	</xs:simpleType>
	<xs:simpleType name="heightTypeS">
		<xs:restriction base="xs:decimal"/>
		<!--Field values:
			Patient/Parent height range between 1-250
		-->
	</xs:simpleType>
	<xs:simpleType name="patientagegroupTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
		<!--Field values:
		1=Neonate
		2=Infant
		3=Child
		4=Adolescent
		5=Adult
		6=Elderly-->
	</xs:simpleType>
	<xs:simpleType name="qualificationTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
		<!--Field values:
		1=Physician7
		2=Pharmacist
		3=Other Health Professional
		4=Lawyer
		5=Consumer or other non health professional
		-->
	</xs:simpleType>
	<xs:simpleType name="reportTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
		<!--	Field values:
		1=Spontaneous (Not Allowed in Susar)
		2=Report from study
		3=Other (Not Allowed in Susar)
		4=Not available to sender (unknown)(Not Allowed in Susar)
		-->
	</xs:simpleType>
	<xs:simpleType name="senderrecivertypeTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
		<!--Field values: SENDER
		1=Pharmaceutical Company
		2=Regulatory Authority
		3=Health professional  	! ! ! (only sender) ! ! !
		4=Regional Pharmacovigilance Center
		5=WHO Collaborating Center for International Drug Monitoring
		6=Other
		-->
	</xs:simpleType>
	<xs:simpleType name="sexTypeS">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
		<!--Field values:	(ISO5218)
		1=Male
		2=Female
		9=Not Specified
		0=Unknown-->
	</xs:simpleType>
	<xs:simpleType name="termhighlightedTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
		<!--Field values:
		1=Yes, highlighted by the reporter, NOT serious
		2=No, not highlighted by the reporter, NOT serious
		3=Yes, highlighted by the reporter, SERIOUS
		4=No, not highlighted by the reporter, SERIOUS-->
	</xs:simpleType>
	<xs:simpleType name="timeunitTypeS">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="800"/>
			<xs:enumeration value="801"/>
			<xs:enumeration value="802"/>
			<xs:enumeration value="803"/>
			<xs:enumeration value="804"/>
			<xs:enumeration value="805"/>
			<xs:enumeration value="806"/>
			<xs:enumeration value="807"/>
			<xs:enumeration value="810"/>
			<xs:enumeration value="811"/>
			<xs:enumeration value="812"/>
			<xs:enumeration value="813"/>
		</xs:restriction>
		<!--800=Decade
			801=Year
			802=Month
			803=Week
			804=Day
			805=Hour
			806=Minute
			807=Second
			810=Trimester
			811=Cyclical
			812=As Necessary
			813=Total
			-->
	</xs:simpleType>
	<xs:simpleType name="yesnoTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
		<!--Field values:
		1=Yes
		2=No
		-->
	</xs:simpleType>
	<xs:simpleType name="yesnounknownTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
		<!--Field values:
		1=Yes
		2=No
		3=Unknown
		-->
	</xs:simpleType>
	<xs:simpleType name="yesTypeS">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
		<!--Field values:
		1=Yes
		-->
	</xs:simpleType>
</xs:schema>
