phv/src/main/resources/schema/masterreport21xml.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<!ELEMENT ichicsr (ichicsrmessageheader, safetyreport+)>
<!ATTLIST ichicsr
	lang CDATA #REQUIRED
>
<!ELEMENT ichicsrmessageheader (messagetype, messageformatversion, messageformatrelease, messagenumb, messagesenderidentifier, messagereceiveridentifier, messagedateformat, messagedate)>
<!ATTLIST ichicsrmessageheader
	lang CDATA #IMPLIED
>
<!ELEMENT safetyreport (safetyreportversion?, safetyreportid, primarysourcecountry?, occurcountry?, transmissiondateformat?, transmissiondate?, reporttype?, serious?, seriousnessdeath?, seriousnesslifethreatening?, seriousnesshospitalization?, seriousnessdisabling?, seriousnesscongenitalanomali?, seriousnessother?, receivedateformat?, receivedate?, receiptdateformat?, receiptdate?, additionaldocument?, documentlist?, fulfillexpeditecriteria?, authoritynumb?, companynumb?, duplicate?, casenullification?, nullificationreason?, medicallyconfirm?, (reportduplicate*, linkedreport*, primarysource+, sender, receiver, patient, clusterduplicate*))>
<!ATTLIST safetyreport
	lang CDATA #IMPLIED
>
<!ELEMENT messagetype (#PCDATA)>
<!ATTLIST messagetype
	lang CDATA #IMPLIED
>
<!ELEMENT messageformatversion (#PCDATA)>
<!ATTLIST messageformatversion
	lang CDATA #IMPLIED
>
<!ELEMENT messageformatrelease (#PCDATA)>
<!ATTLIST messageformatrelease
	lang CDATA #IMPLIED
>
<!ELEMENT messagenumb (#PCDATA)>
<!ATTLIST messagenumb
	lang CDATA #IMPLIED
>
<!ELEMENT messagesenderidentifier (#PCDATA)>
<!ATTLIST messagesenderidentifier
	lang CDATA #IMPLIED
>
<!ELEMENT messagereceiveridentifier (#PCDATA)>
<!ATTLIST messagereceiveridentifier
	lang CDATA #IMPLIED
>
<!ELEMENT messagedateformat (#PCDATA)>
<!ATTLIST messagedateformat
	lang CDATA #IMPLIED
>
<!ELEMENT messagedate (#PCDATA)>
<!ATTLIST messagedate
	lang CDATA #IMPLIED
>
<!ELEMENT safetyreportversion (#PCDATA)>
<!ATTLIST safetyreportversion
	lang CDATA #IMPLIED
>
<!ELEMENT safetyreportid (#PCDATA)>
<!ATTLIST safetyreportid
	lang CDATA #IMPLIED
>
<!ELEMENT primarysourcecountry (#PCDATA)>
<!ATTLIST primarysourcecountry
	lang CDATA #IMPLIED
>
<!ELEMENT occurcountry (#PCDATA)>
<!ATTLIST occurcountry
	lang CDATA #IMPLIED
>
<!ELEMENT transmissiondateformat (#PCDATA)>
<!ATTLIST transmissiondateformat
	lang CDATA #IMPLIED
>
<!ELEMENT transmissiondate (#PCDATA)>
<!ATTLIST transmissiondate
	lang CDATA #IMPLIED
>
<!ELEMENT reporttype (#PCDATA)>
<!ATTLIST reporttype
	lang CDATA #IMPLIED
>
<!ELEMENT serious (#PCDATA)>
<!ATTLIST serious
	lang CDATA #IMPLIED
>
<!ELEMENT seriousnessdeath (#PCDATA)>
<!ATTLIST seriousnessdeath
	lang CDATA #IMPLIED
>
<!ELEMENT seriousnesslifethreatening (#PCDATA)>
<!ATTLIST seriousnesslifethreatening
	lang CDATA #IMPLIED
>
<!ELEMENT seriousnesshospitalization (#PCDATA)>
<!ATTLIST seriousnesshospitalization
	lang CDATA #IMPLIED
>
<!ELEMENT seriousnessdisabling (#PCDATA)>
<!ATTLIST seriousnessdisabling
	lang CDATA #IMPLIED
>
<!ELEMENT seriousnesscongenitalanomali (#PCDATA)>
<!ATTLIST seriousnesscongenitalanomali
	lang CDATA #IMPLIED
>
<!ELEMENT seriousnessother (#PCDATA)>
<!ATTLIST seriousnessother
	lang CDATA #IMPLIED
>
<!ELEMENT receivedateformat (#PCDATA)>
<!ATTLIST receivedateformat
	lang CDATA #IMPLIED
>
<!ELEMENT receivedate (#PCDATA)>
<!ATTLIST receivedate
	lang CDATA #IMPLIED
>
<!ELEMENT receiptdateformat (#PCDATA)>
<!ATTLIST receiptdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT receiptdate (#PCDATA)>
<!ATTLIST receiptdate
	lang CDATA #IMPLIED
>
<!ELEMENT additionaldocument (#PCDATA)>
<!ATTLIST additionaldocument
	lang CDATA #IMPLIED
>
<!ELEMENT documentlist (#PCDATA)>
<!ATTLIST documentlist
	lang CDATA #IMPLIED
>
<!ELEMENT fulfillexpeditecriteria (#PCDATA)>
<!ATTLIST fulfillexpeditecriteria
	lang CDATA #IMPLIED
>
<!ELEMENT authoritynumb (#PCDATA)>
<!ATTLIST authoritynumb
	lang CDATA #IMPLIED
>
<!ELEMENT companynumb (#PCDATA)>
<!ATTLIST companynumb
	lang CDATA #IMPLIED
>
<!ELEMENT duplicate (#PCDATA)>
<!ATTLIST duplicate
	lang CDATA #IMPLIED
>
<!ELEMENT casenullification (#PCDATA)>
<!ATTLIST casenullification
	lang CDATA #IMPLIED
>
<!ELEMENT nullificationreason (#PCDATA)>
<!ATTLIST nullificationreason
	lang CDATA #IMPLIED
>
<!ELEMENT medicallyconfirm (#PCDATA)>
<!ATTLIST medicallyconfirm
	lang CDATA #IMPLIED
>
<!ELEMENT reportduplicate (duplicatesource?, duplicatenumb?)>
<!ATTLIST reportduplicate
	lang CDATA #IMPLIED
>
<!ELEMENT linkedreport (linkreportnumb?)>
<!ATTLIST linkedreport
	lang CDATA #IMPLIED
>
<!ELEMENT primarysource (reportertitle?, reportergivename?, reportermiddlename?, reporterfamilyname?, reporterorganization?, reporterdepartment?, reporterstreet?, reportercity?, reporterstate?, reporterpostcode?, reportercountry?, qualification?, literaturereference?, studyname?, sponsorstudynumb?, observestudytype?)>
<!ATTLIST primarysource
	lang CDATA #IMPLIED
>
<!ELEMENT sender (sendertype?, senderorganization?, senderdepartment?, sendertitle?, sendergivename?, sendermiddlename?, senderfamilyname?, senderstreetaddress?, sendercity?, senderstate?, senderpostcode?, sendercountrycode?, sendertel?, sendertelextension?, sendertelcountrycode?, senderfax?, senderfaxextension?, senderfaxcountrycode?, senderemailaddress?)>
<!ATTLIST sender
	lang CDATA #IMPLIED
>
<!ELEMENT receiver (receivertype?, receiverorganization?, receiverdepartment?, receivertitle?, receivergivename?, receivermiddlename?, receiverfamilyname?, receiverstreetaddress?, receivercity?, receiverstate?, receiverpostcode?, receivercountrycode?, receivertel?, receivertelextension?, receivertelcountrycode?, receiverfax?, receiverfaxextension?, receiverfaxcountrycode?, receiveremailaddress?)>
<!ATTLIST receiver
	lang CDATA #IMPLIED
>
<!ELEMENT patient (patientinitial?, patientgpmedicalrecordnumb?, patientspecialistrecordnumb?, patienthospitalrecordnumb?, patientinvestigationnumb?, patientbirthdateformat?, patientbirthdate?, patientonsetage?, patientonsetageunit?, gestationperiod?, gestationperiodunit?, patientagegroup?, patientweight?, patientheight?, patientsex?, lastmenstrualdateformat?, patientlastmenstrualdate?, patientmedicalhistorytext?, resultstestsprocedures?, (medicalhistoryepisode*, patientpastdrugtherapy*, patientdeath?, parent?, reaction+, test*, drug+, summary?))>
<!ATTLIST patient
	lang CDATA #IMPLIED
>
<!ELEMENT duplicatesource (#PCDATA)>
<!ATTLIST duplicatesource
	lang CDATA #IMPLIED
>
<!ELEMENT duplicatenumb (#PCDATA)>
<!ATTLIST duplicatenumb
	lang CDATA #IMPLIED
>
<!ELEMENT linkreportnumb (#PCDATA)>
<!ATTLIST linkreportnumb
	lang CDATA #IMPLIED
>
<!ELEMENT reportertitle (#PCDATA)>
<!ATTLIST reportertitle
	lang CDATA #IMPLIED
>
<!ELEMENT reportergivename (#PCDATA)>
<!ATTLIST reportergivename
	lang CDATA #IMPLIED
>
<!ELEMENT reportermiddlename (#PCDATA)>
<!ATTLIST reportermiddlename
	lang CDATA #IMPLIED
>
<!ELEMENT reporterfamilyname (#PCDATA)>
<!ATTLIST reporterfamilyname
	lang CDATA #IMPLIED
>
<!ELEMENT reporterorganization (#PCDATA)>
<!ATTLIST reporterorganization
	lang CDATA #IMPLIED
>
<!ELEMENT reporterdepartment (#PCDATA)>
<!ATTLIST reporterdepartment
	lang CDATA #IMPLIED
>
<!ELEMENT reporterstreet (#PCDATA)>
<!ATTLIST reporterstreet
	lang CDATA #IMPLIED
>
<!ELEMENT reportercity (#PCDATA)>
<!ATTLIST reportercity
	lang CDATA #IMPLIED
>
<!ELEMENT reporterstate (#PCDATA)>
<!ATTLIST reporterstate
	lang CDATA #IMPLIED
>
<!ELEMENT reporterpostcode (#PCDATA)>
<!ATTLIST reporterpostcode
	lang CDATA #IMPLIED
>
<!ELEMENT reportercountry (#PCDATA)>
<!ATTLIST reportercountry
	lang CDATA #IMPLIED
>
<!ELEMENT qualification (#PCDATA)>
<!ATTLIST qualification
	lang CDATA #IMPLIED
>
<!ELEMENT literaturereference (#PCDATA)>
<!ATTLIST literaturereference
	lang CDATA #IMPLIED
>
<!ELEMENT studyname (#PCDATA)>
<!ATTLIST studyname
	lang CDATA #IMPLIED
>
<!ELEMENT sponsorstudynumb (#PCDATA)>
<!ATTLIST sponsorstudynumb
	lang CDATA #IMPLIED
>
<!ELEMENT observestudytype (#PCDATA)>
<!ATTLIST observestudytype
	lang CDATA #IMPLIED
>
<!ELEMENT sendertype (#PCDATA)>
<!ATTLIST sendertype
	lang CDATA #IMPLIED
>
<!ELEMENT senderorganization (#PCDATA)>
<!ATTLIST senderorganization
	lang CDATA #IMPLIED
>
<!ELEMENT senderdepartment (#PCDATA)>
<!ATTLIST senderdepartment
	lang CDATA #IMPLIED
>
<!ELEMENT sendertitle (#PCDATA)>
<!ATTLIST sendertitle
	lang CDATA #IMPLIED
>
<!ELEMENT sendergivename (#PCDATA)>
<!ATTLIST sendergivename
	lang CDATA #IMPLIED
>
<!ELEMENT sendermiddlename (#PCDATA)>
<!ATTLIST sendermiddlename
	lang CDATA #IMPLIED
>
<!ELEMENT senderfamilyname (#PCDATA)>
<!ATTLIST senderfamilyname
	lang CDATA #IMPLIED
>
<!ELEMENT senderstreetaddress (#PCDATA)>
<!ATTLIST senderstreetaddress
	lang CDATA #IMPLIED
>
<!ELEMENT sendercity (#PCDATA)>
<!ATTLIST sendercity
	lang CDATA #IMPLIED
>
<!ELEMENT senderstate (#PCDATA)>
<!ATTLIST senderstate
	lang CDATA #IMPLIED
>
<!ELEMENT senderpostcode (#PCDATA)>
<!ATTLIST senderpostcode
	lang CDATA #IMPLIED
>
<!ELEMENT sendercountrycode (#PCDATA)>
<!ATTLIST sendercountrycode
	lang CDATA #IMPLIED
>
<!ELEMENT sendertel (#PCDATA)>
<!ATTLIST sendertel
	lang CDATA #IMPLIED
>
<!ELEMENT sendertelextension (#PCDATA)>
<!ATTLIST sendertelextension
	lang CDATA #IMPLIED
>
<!ELEMENT sendertelcountrycode (#PCDATA)>
<!ATTLIST sendertelcountrycode
	lang CDATA #IMPLIED
>
<!ELEMENT senderfax (#PCDATA)>
<!ATTLIST senderfax
	lang CDATA #IMPLIED
>
<!ELEMENT senderfaxextension (#PCDATA)>
<!ATTLIST senderfaxextension
	lang CDATA #IMPLIED
>
<!ELEMENT senderfaxcountrycode (#PCDATA)>
<!ATTLIST senderfaxcountrycode
	lang CDATA #IMPLIED
>
<!ELEMENT senderemailaddress (#PCDATA)>
<!ATTLIST senderemailaddress
	lang CDATA #IMPLIED
>
<!ELEMENT receivertype (#PCDATA)>
<!ATTLIST receivertype
	lang CDATA #IMPLIED
>
<!ELEMENT receiverorganization (#PCDATA)>
<!ATTLIST receiverorganization
	lang CDATA #IMPLIED
>
<!ELEMENT receiverdepartment (#PCDATA)>
<!ATTLIST receiverdepartment
	lang CDATA #IMPLIED
>
<!ELEMENT receivertitle (#PCDATA)>
<!ATTLIST receivertitle
	lang CDATA #IMPLIED
>
<!ELEMENT receivergivename (#PCDATA)>
<!ATTLIST receivergivename
	lang CDATA #IMPLIED
>
<!ELEMENT receivermiddlename (#PCDATA)>
<!ATTLIST receivermiddlename
	lang CDATA #IMPLIED
>
<!ELEMENT receiverfamilyname (#PCDATA)>
<!ATTLIST receiverfamilyname
	lang CDATA #IMPLIED
>
<!ELEMENT receiverstreetaddress (#PCDATA)>
<!ATTLIST receiverstreetaddress
	lang CDATA #IMPLIED
>
<!ELEMENT receivercity (#PCDATA)>
<!ATTLIST receivercity
	lang CDATA #IMPLIED
>
<!ELEMENT receiverstate (#PCDATA)>
<!ATTLIST receiverstate
	lang CDATA #IMPLIED
>
<!ELEMENT receiverpostcode (#PCDATA)>
<!ATTLIST receiverpostcode
	lang CDATA #IMPLIED
>
<!ELEMENT receivercountrycode (#PCDATA)>
<!ATTLIST receivercountrycode
	lang CDATA #IMPLIED
>
<!ELEMENT receivertel (#PCDATA)>
<!ATTLIST receivertel
	lang CDATA #IMPLIED
>
<!ELEMENT receivertelextension (#PCDATA)>
<!ATTLIST receivertelextension
	lang CDATA #IMPLIED
>
<!ELEMENT receivertelcountrycode (#PCDATA)>
<!ATTLIST receivertelcountrycode
	lang CDATA #IMPLIED
>
<!ELEMENT receiverfax (#PCDATA)>
<!ATTLIST receiverfax
	lang CDATA #IMPLIED
>
<!ELEMENT receiverfaxextension (#PCDATA)>
<!ATTLIST receiverfaxextension
	lang CDATA #IMPLIED
>
<!ELEMENT receiverfaxcountrycode (#PCDATA)>
<!ATTLIST receiverfaxcountrycode
	lang CDATA #IMPLIED
>
<!ELEMENT receiveremailaddress (#PCDATA)>
<!ATTLIST receiveremailaddress
	lang CDATA #IMPLIED
>
<!ELEMENT patientinitial (#PCDATA)>
<!ATTLIST patientinitial
	lang CDATA #IMPLIED
>
<!ELEMENT patientgpmedicalrecordnumb (#PCDATA)>
<!ATTLIST patientgpmedicalrecordnumb
	lang CDATA #IMPLIED
>
<!ELEMENT patientspecialistrecordnumb (#PCDATA)>
<!ATTLIST patientspecialistrecordnumb
	lang CDATA #IMPLIED
>
<!ELEMENT patienthospitalrecordnumb (#PCDATA)>
<!ATTLIST patienthospitalrecordnumb
	lang CDATA #IMPLIED
>
<!ELEMENT patientinvestigationnumb (#PCDATA)>
<!ATTLIST patientinvestigationnumb
	lang CDATA #IMPLIED
>
<!ELEMENT patientbirthdateformat (#PCDATA)>
<!ATTLIST patientbirthdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientbirthdate (#PCDATA)>
<!ATTLIST patientbirthdate
	lang CDATA #IMPLIED
>
<!ELEMENT patientonsetage (#PCDATA)>
<!ATTLIST patientonsetage
	lang CDATA #IMPLIED
>
<!ELEMENT patientonsetageunit (#PCDATA)>
<!ATTLIST patientonsetageunit
	lang CDATA #IMPLIED
>
<!ELEMENT gestationperiod (#PCDATA)>
<!ATTLIST gestationperiod
	lang CDATA #IMPLIED
>
<!ELEMENT gestationperiodunit (#PCDATA)>
<!ATTLIST gestationperiodunit
	lang CDATA #IMPLIED
>
<!ELEMENT patientagegroup (#PCDATA)>
<!ATTLIST patientagegroup
	lang CDATA #IMPLIED
>
<!ELEMENT patientweight (#PCDATA)>
<!ATTLIST patientweight
	lang CDATA #IMPLIED
>
<!ELEMENT patientheight (#PCDATA)>
<!ATTLIST patientheight
	lang CDATA #IMPLIED
>
<!ELEMENT patientsex (#PCDATA)>
<!ATTLIST patientsex
	lang CDATA #IMPLIED
>
<!ELEMENT lastmenstrualdateformat (#PCDATA)>
<!ATTLIST lastmenstrualdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientlastmenstrualdate (#PCDATA)>
<!ATTLIST patientlastmenstrualdate
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalhistorytext (#PCDATA)>
<!ATTLIST patientmedicalhistorytext
	lang CDATA #IMPLIED
>
<!ELEMENT resultstestsprocedures (#PCDATA)>
<!ATTLIST resultstestsprocedures
	lang CDATA #IMPLIED
>
<!ELEMENT medicalhistoryepisode (patientepisodenamemeddraversion?, patientepisodename?, patientmedicalstartdateformat?, patientmedicalstartdate?, patientmedicalcontinue?, patientmedicalenddateformat?, patientmedicalenddate?, patientmedicalcomment?)>
<!ATTLIST medicalhistoryepisode
	lang CDATA #IMPLIED
>
<!ELEMENT patientpastdrugtherapy (patientdrugname?, patientdrugstartdateformat?, patientdrugstartdate?, patientdrugenddateformat?, patientdrugenddate?, patientindicationmeddraversion?, patientdrugindication?, patientdrgreactionmeddraversion?, patientdrugreaction?)>
<!ATTLIST patientpastdrugtherapy
	lang CDATA #IMPLIED
>
<!ELEMENT patientdeath (patientdeathdateformat?, patientdeathdate?, patientautopsyyesno?, (patientdeathcause*, patientautopsy*))>
<!ATTLIST patientdeath
	lang CDATA #IMPLIED
>
<!ELEMENT parent (parentidentification?, parentbirthdateformat?, parentbirthdate?, parentage?, parentageunit?, parentlastmenstrualdateformat?, parentlastmenstrualdate?, parentweight?, parentheight?, parentsex?, parentmedicalrelevanttext?, (parentmedicalhistoryepisode*, parentpastdrugtherapy*))>
<!ATTLIST parent
	lang CDATA #IMPLIED
>
<!ELEMENT reaction (primarysourcereaction?, reactionmeddraversionllt?, reactionmeddrallt?, reactionmeddraversionpt?, reactionmeddrapt?, termhighlighted?, reactionstartdateformat?, reactionstartdate?, reactionenddateformat?, reactionenddate?, reactionduration?, reactiondurationunit?, reactionfirsttime?, reactionfirsttimeunit?, reactionlasttime?, reactionlasttimeunit?, reactionoutcome?)>
<!ATTLIST reaction
	lang CDATA #IMPLIED
>
<!ELEMENT test (testdateformat?, testdate?, testname?, testresult?, testunit?, lowtestrange?, hightestrange?, moreinformation?)>
<!ATTLIST test
	lang CDATA #IMPLIED
>
<!ELEMENT drug (drugcharacterization?, medicinalproduct?, obtaindrugcountry?, drugbatchnumb?, drugauthorizationnumb?, drugauthorizationcountry?, drugauthorizationholder?, drugstructuredosagenumb?, drugstructuredosageunit?, drugseparatedosagenumb?, drugintervaldosageunitnumb?, drugintervaldosagedefinition?, drugcumulativedosagenumb?, drugcumulativedosageunit?, drugdosagetext?, drugdosageform?, drugadministrationroute?, drugparadministration?, reactiongestationperiod?, reactiongestationperiodunit?, drugindicationmeddraversion?, drugindication?, drugstartdateformat?, drugstartdate?, drugstartperiod?, drugstartperiodunit?, druglastperiod?, druglastperiodunit?, drugenddateformat?, drugenddate?, drugtreatmentduration?, drugtreatmentdurationunit?, actiondrug?, drugrecurreadministration?, drugadditional?, (activesubstance*, drugrecurrence*, drugreactionrelatedness*))>
<!ATTLIST drug
	lang CDATA #IMPLIED
>
<!ELEMENT summary (narrativeincludeclinical?, reportercomment?, senderdiagnosismeddraversion?, senderdiagnosis?, sendercomment?)>
<!ATTLIST summary
	lang CDATA #IMPLIED
>
<!ELEMENT clusterduplicate (localnumber)>

<!ELEMENT localnumber ANY>

<!ELEMENT patientepisodenamemeddraversion (#PCDATA)>
<!ATTLIST patientepisodenamemeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT patientepisodename (#PCDATA)>
<!ATTLIST patientepisodename
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalstartdateformat (#PCDATA)>
<!ATTLIST patientmedicalstartdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalstartdate (#PCDATA)>
<!ATTLIST patientmedicalstartdate
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalcontinue (#PCDATA)>
<!ATTLIST patientmedicalcontinue
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalenddateformat (#PCDATA)>
<!ATTLIST patientmedicalenddateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalenddate (#PCDATA)>
<!ATTLIST patientmedicalenddate
	lang CDATA #IMPLIED
>
<!ELEMENT patientmedicalcomment (#PCDATA)>
<!ATTLIST patientmedicalcomment
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugname (#PCDATA)>
<!ATTLIST patientdrugname
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugstartdateformat (#PCDATA)>
<!ATTLIST patientdrugstartdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugstartdate (#PCDATA)>
<!ATTLIST patientdrugstartdate
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugenddateformat (#PCDATA)>
<!ATTLIST patientdrugenddateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugenddate (#PCDATA)>
<!ATTLIST patientdrugenddate
	lang CDATA #IMPLIED
>
<!ELEMENT patientindicationmeddraversion (#PCDATA)>
<!ATTLIST patientindicationmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugindication (#PCDATA)>
<!ATTLIST patientdrugindication
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrgreactionmeddraversion (#PCDATA)>
<!ATTLIST patientdrgreactionmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT patientdrugreaction (#PCDATA)>
<!ATTLIST patientdrugreaction
	lang CDATA #IMPLIED
>
<!ELEMENT patientdeathdateformat (#PCDATA)>
<!ATTLIST patientdeathdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT patientdeathdate (#PCDATA)>
<!ATTLIST patientdeathdate
	lang CDATA #IMPLIED
>
<!ELEMENT patientautopsyyesno (#PCDATA)>
<!ATTLIST patientautopsyyesno
	lang CDATA #IMPLIED
>
<!ELEMENT patientdeathcause (patientdeathreportmeddraversion?, patientdeathreport?)>
<!ATTLIST patientdeathcause
	lang CDATA #IMPLIED
>
<!ELEMENT patientautopsy (patientdetermautopsmeddraversion?, patientdetermineautopsy?)>
<!ATTLIST patientautopsy
	lang CDATA #IMPLIED
>
<!ELEMENT parentidentification (#PCDATA)>
<!ATTLIST parentidentification
	lang CDATA #IMPLIED
>
<!ELEMENT parentbirthdateformat (#PCDATA)>
<!ATTLIST parentbirthdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT parentbirthdate (#PCDATA)>
<!ATTLIST parentbirthdate
	lang CDATA #IMPLIED
>
<!ELEMENT parentage (#PCDATA)>
<!ATTLIST parentage
	lang CDATA #IMPLIED
>
<!ELEMENT parentageunit (#PCDATA)>
<!ATTLIST parentageunit
	lang CDATA #IMPLIED
>
<!ELEMENT parentlastmenstrualdateformat (#PCDATA)>
<!ATTLIST parentlastmenstrualdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT parentlastmenstrualdate (#PCDATA)>
<!ATTLIST parentlastmenstrualdate
	lang CDATA #IMPLIED
>
<!ELEMENT parentweight (#PCDATA)>
<!ATTLIST parentweight
	lang CDATA #IMPLIED
>
<!ELEMENT parentheight (#PCDATA)>
<!ATTLIST parentheight
	lang CDATA #IMPLIED
>
<!ELEMENT parentsex (#PCDATA)>
<!ATTLIST parentsex
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalrelevanttext (#PCDATA)>
<!ATTLIST parentmedicalrelevanttext
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalhistoryepisode (parentmdepisodemeddraversion?, parentmedicalepisodename?, parentmedicalstartdateformat?, parentmedicalstartdate?, parentmedicalcontinue?, parentmedicalenddateformat?, parentmedicalenddate?, parentmedicalcomment?)>
<!ATTLIST parentmedicalhistoryepisode
	lang CDATA #IMPLIED
>
<!ELEMENT parentpastdrugtherapy (parentdrugname?, parentdrugstartdateformat?, parentdrugstartdate?, parentdrugenddateformat?, parentdrugenddate?, parentdrgindicationmeddraversion?, parentdrugindication?, parentdrgreactionmeddraversion?, parentdrugreaction?)>
<!ATTLIST parentpastdrugtherapy
	lang CDATA #IMPLIED
>
<!ELEMENT primarysourcereaction (#PCDATA)>
<!ATTLIST primarysourcereaction
	lang CDATA #IMPLIED
>
<!ELEMENT reactionmeddraversionllt (#PCDATA)>
<!ATTLIST reactionmeddraversionllt
	lang CDATA #IMPLIED
>
<!ELEMENT reactionmeddrallt (#PCDATA)>
<!ATTLIST reactionmeddrallt
	lang CDATA #IMPLIED
>
<!ELEMENT reactionmeddraversionpt (#PCDATA)>
<!ATTLIST reactionmeddraversionpt
	lang CDATA #IMPLIED
>
<!ELEMENT reactionmeddrapt (#PCDATA)>
<!ATTLIST reactionmeddrapt
	lang CDATA #IMPLIED
>
<!ELEMENT termhighlighted (#PCDATA)>
<!ATTLIST termhighlighted
	lang CDATA #IMPLIED
>
<!ELEMENT reactionstartdateformat (#PCDATA)>
<!ATTLIST reactionstartdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT reactionstartdate (#PCDATA)>
<!ATTLIST reactionstartdate
	lang CDATA #IMPLIED
>
<!ELEMENT reactionenddateformat (#PCDATA)>
<!ATTLIST reactionenddateformat
	lang CDATA #IMPLIED
>
<!ELEMENT reactionenddate (#PCDATA)>
<!ATTLIST reactionenddate
	lang CDATA #IMPLIED
>
<!ELEMENT reactionduration (#PCDATA)>
<!ATTLIST reactionduration
	lang CDATA #IMPLIED
>
<!ELEMENT reactiondurationunit (#PCDATA)>
<!ATTLIST reactiondurationunit
	lang CDATA #IMPLIED
>
<!ELEMENT reactionfirsttime (#PCDATA)>
<!ATTLIST reactionfirsttime
	lang CDATA #IMPLIED
>
<!ELEMENT reactionfirsttimeunit (#PCDATA)>
<!ATTLIST reactionfirsttimeunit
	lang CDATA #IMPLIED
>
<!ELEMENT reactionlasttime (#PCDATA)>
<!ATTLIST reactionlasttime
	lang CDATA #IMPLIED
>
<!ELEMENT reactionlasttimeunit (#PCDATA)>
<!ATTLIST reactionlasttimeunit
	lang CDATA #IMPLIED
>
<!ELEMENT reactionoutcome (#PCDATA)>
<!ATTLIST reactionoutcome
	lang CDATA #IMPLIED
>
<!ELEMENT testdateformat (#PCDATA)>
<!ATTLIST testdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT testdate (#PCDATA)>
<!ATTLIST testdate
	lang CDATA #IMPLIED
>
<!ELEMENT testname (#PCDATA)>
<!ATTLIST testname
	lang CDATA #IMPLIED
>
<!ELEMENT testresult (#PCDATA)>
<!ATTLIST testresult
	lang CDATA #IMPLIED
>
<!ELEMENT testunit (#PCDATA)>
<!ATTLIST testunit
	lang CDATA #IMPLIED
>
<!ELEMENT lowtestrange (#PCDATA)>
<!ATTLIST lowtestrange
	lang CDATA #IMPLIED
>
<!ELEMENT hightestrange (#PCDATA)>
<!ATTLIST hightestrange
	lang CDATA #IMPLIED
>
<!ELEMENT moreinformation (#PCDATA)>
<!ATTLIST moreinformation
	lang CDATA #IMPLIED
>
<!ELEMENT drugcharacterization (#PCDATA)>
<!ATTLIST drugcharacterization
	lang CDATA #IMPLIED
>
<!ELEMENT medicinalproduct (#PCDATA)>
<!ATTLIST medicinalproduct
	lang CDATA #IMPLIED
>
<!ELEMENT obtaindrugcountry (#PCDATA)>
<!ATTLIST obtaindrugcountry
	lang CDATA #IMPLIED
>
<!ELEMENT drugbatchnumb (#PCDATA)>
<!ATTLIST drugbatchnumb
	lang CDATA #IMPLIED
>
<!ELEMENT drugauthorizationnumb (#PCDATA)>
<!ATTLIST drugauthorizationnumb
	lang CDATA #IMPLIED
>
<!ELEMENT drugauthorizationcountry (#PCDATA)>
<!ATTLIST drugauthorizationcountry
	lang CDATA #IMPLIED
>
<!ELEMENT drugauthorizationholder (#PCDATA)>
<!ATTLIST drugauthorizationholder
	lang CDATA #IMPLIED
>
<!ELEMENT drugstructuredosagenumb (#PCDATA)>
<!ATTLIST drugstructuredosagenumb
	lang CDATA #IMPLIED
>
<!ELEMENT drugstructuredosageunit (#PCDATA)>
<!ATTLIST drugstructuredosageunit
	lang CDATA #IMPLIED
>
<!ELEMENT drugseparatedosagenumb (#PCDATA)>
<!ATTLIST drugseparatedosagenumb
	lang CDATA #IMPLIED
>
<!ELEMENT drugintervaldosageunitnumb (#PCDATA)>
<!ATTLIST drugintervaldosageunitnumb
	lang CDATA #IMPLIED
>
<!ELEMENT drugintervaldosagedefinition (#PCDATA)>
<!ATTLIST drugintervaldosagedefinition
	lang CDATA #IMPLIED
>
<!ELEMENT drugcumulativedosagenumb (#PCDATA)>
<!ATTLIST drugcumulativedosagenumb
	lang CDATA #IMPLIED
>
<!ELEMENT drugcumulativedosageunit (#PCDATA)>
<!ATTLIST drugcumulativedosageunit
	lang CDATA #IMPLIED
>
<!ELEMENT drugdosagetext (#PCDATA)>
<!ATTLIST drugdosagetext
	lang CDATA #IMPLIED
>
<!ELEMENT drugdosageform (#PCDATA)>
<!ATTLIST drugdosageform
	lang CDATA #IMPLIED
>
<!ELEMENT drugadministrationroute (#PCDATA)>
<!ATTLIST drugadministrationroute
	lang CDATA #IMPLIED
>
<!ELEMENT drugparadministration (#PCDATA)>
<!ATTLIST drugparadministration
	lang CDATA #IMPLIED
>
<!ELEMENT reactiongestationperiod (#PCDATA)>
<!ATTLIST reactiongestationperiod
	lang CDATA #IMPLIED
>
<!ELEMENT reactiongestationperiodunit (#PCDATA)>
<!ATTLIST reactiongestationperiodunit
	lang CDATA #IMPLIED
>
<!ELEMENT drugindicationmeddraversion (#PCDATA)>
<!ATTLIST drugindicationmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT drugindication (#PCDATA)>
<!ATTLIST drugindication
	lang CDATA #IMPLIED
>
<!ELEMENT drugstartdateformat (#PCDATA)>
<!ATTLIST drugstartdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT drugstartdate (#PCDATA)>
<!ATTLIST drugstartdate
	lang CDATA #IMPLIED
>
<!ELEMENT drugstartperiod (#PCDATA)>
<!ATTLIST drugstartperiod
	lang CDATA #IMPLIED
>
<!ELEMENT drugstartperiodunit (#PCDATA)>
<!ATTLIST drugstartperiodunit
	lang CDATA #IMPLIED
>
<!ELEMENT druglastperiod (#PCDATA)>
<!ATTLIST druglastperiod
	lang CDATA #IMPLIED
>
<!ELEMENT druglastperiodunit (#PCDATA)>
<!ATTLIST druglastperiodunit
	lang CDATA #IMPLIED
>
<!ELEMENT drugenddateformat (#PCDATA)>
<!ATTLIST drugenddateformat
	lang CDATA #IMPLIED
>
<!ELEMENT drugenddate (#PCDATA)>
<!ATTLIST drugenddate
	lang CDATA #IMPLIED
>
<!ELEMENT drugtreatmentduration (#PCDATA)>
<!ATTLIST drugtreatmentduration
	lang CDATA #IMPLIED
>
<!ELEMENT drugtreatmentdurationunit (#PCDATA)>
<!ATTLIST drugtreatmentdurationunit
	lang CDATA #IMPLIED
>
<!ELEMENT actiondrug (#PCDATA)>
<!ATTLIST actiondrug
	lang CDATA #IMPLIED
>
<!ELEMENT drugrecurreadministration (#PCDATA)>
<!ATTLIST drugrecurreadministration
	lang CDATA #IMPLIED
>
<!ELEMENT drugadditional (#PCDATA)>
<!ATTLIST drugadditional
	lang CDATA #IMPLIED
>
<!ELEMENT activesubstance (activesubstancename)>
<!ATTLIST activesubstance
	lang CDATA #IMPLIED
>
<!ELEMENT drugrecurrence (drugrecuractionmeddraversion?, drugrecuraction)>
<!ATTLIST drugrecurrence
	lang CDATA #IMPLIED
>
<!ELEMENT drugreactionrelatedness (drugreactionassesmeddraversion?, drugreactionasses?, drugassessmentsource?, drugassessmentmethod?, drugresult?)>
<!ATTLIST drugreactionrelatedness
	lang CDATA #IMPLIED
>
<!ELEMENT narrativeincludeclinical (#PCDATA)>
<!ATTLIST narrativeincludeclinical
	lang CDATA #IMPLIED
>
<!ELEMENT reportercomment (#PCDATA)>
<!ATTLIST reportercomment
	lang CDATA #IMPLIED
>
<!ELEMENT senderdiagnosismeddraversion (#PCDATA)>
<!ATTLIST senderdiagnosismeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT senderdiagnosis (#PCDATA)>
<!ATTLIST senderdiagnosis
	lang CDATA #IMPLIED
>
<!ELEMENT sendercomment (#PCDATA)>
<!ATTLIST sendercomment
	lang CDATA #IMPLIED
>
<!ELEMENT patientdeathreportmeddraversion (#PCDATA)>
<!ATTLIST patientdeathreportmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT patientdeathreport (#PCDATA)>
<!ATTLIST patientdeathreport
	lang CDATA #IMPLIED
>
<!ELEMENT patientdetermautopsmeddraversion (#PCDATA)>
<!ATTLIST patientdetermautopsmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT patientdetermineautopsy (#PCDATA)>
<!ATTLIST patientdetermineautopsy
	lang CDATA #IMPLIED
>
<!ELEMENT parentmdepisodemeddraversion (#PCDATA)>
<!ATTLIST parentmdepisodemeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalepisodename (#PCDATA)>
<!ATTLIST parentmedicalepisodename
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalstartdateformat (#PCDATA)>
<!ATTLIST parentmedicalstartdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalstartdate (#PCDATA)>
<!ATTLIST parentmedicalstartdate
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalcontinue (#PCDATA)>
<!ATTLIST parentmedicalcontinue
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalenddateformat (#PCDATA)>
<!ATTLIST parentmedicalenddateformat
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalenddate (#PCDATA)>
<!ATTLIST parentmedicalenddate
	lang CDATA #IMPLIED
>
<!ELEMENT parentmedicalcomment (#PCDATA)>
<!ATTLIST parentmedicalcomment
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugname (#PCDATA)>
<!ATTLIST parentdrugname
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugstartdateformat (#PCDATA)>
<!ATTLIST parentdrugstartdateformat
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugstartdate (#PCDATA)>
<!ATTLIST parentdrugstartdate
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugenddateformat (#PCDATA)>
<!ATTLIST parentdrugenddateformat
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugenddate (#PCDATA)>
<!ATTLIST parentdrugenddate
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrgindicationmeddraversion (#PCDATA)>
<!ATTLIST parentdrgindicationmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugindication (#PCDATA)>
<!ATTLIST parentdrugindication
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrgreactionmeddraversion (#PCDATA)>
<!ATTLIST parentdrgreactionmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT parentdrugreaction (#PCDATA)>
<!ATTLIST parentdrugreaction
	lang CDATA #IMPLIED
>
<!ELEMENT activesubstancename (#PCDATA)>
<!ATTLIST activesubstancename
	lang CDATA #IMPLIED
>
<!ELEMENT drugrecuractionmeddraversion (#PCDATA)>
<!ATTLIST drugrecuractionmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT drugrecuraction (#PCDATA)>
<!ATTLIST drugrecuraction
	lang CDATA #IMPLIED
>
<!ELEMENT drugreactionassesmeddraversion (#PCDATA)>
<!ATTLIST drugreactionassesmeddraversion
	lang CDATA #IMPLIED
>
<!ELEMENT drugreactionasses (#PCDATA)>
<!ATTLIST drugreactionasses
	lang CDATA #IMPLIED
>
<!ELEMENT drugassessmentsource (#PCDATA)>
<!ATTLIST drugassessmentsource
	lang CDATA #IMPLIED
>
<!ELEMENT drugassessmentmethod (#PCDATA)>
<!ATTLIST drugassessmentmethod
	lang CDATA #IMPLIED
>
<!ELEMENT drugresult (#PCDATA)>
<!ATTLIST drugresult
	lang CDATA #IMPLIED
>
